<style>
    .column-section-name {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4px;
    }

    .sortable-lesson {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .ui-sortable-handle {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="wrap">
    <div id="poststuff">
        <div id="post-body" class="metabox-holder columns-2">
            <div id="post-body-content">
                <div id="titlediv">
                    <div id="titlewrap">
                        <label class="screen-reader-text" id="title-prompt-text" for="title">
                            {{ course.post_title }}
                        </label>
                        <input type="text" name="post_title" size="30" value="{{ course.post_title }}" id="title"
                               spellcheck="true" autocomplete="off">
                    </div>
                </div>
                <div id="carbon_fields_after_title-sortables"
                     class="meta-box-sortables ui-sortable empty-container"></div>
            </div>
            <form method="post">
                <div id="postbox-container-1" class="postbox-container">
                    <div id="side-sortables" class="meta-box-sortables ui-sortable">
                        <div id="submitdiv" class="postbox ">
                            <div class="postbox-header">
                                <h2 class="hndle ui-sortable-handle">
                                    Actions
                                </h2>
                            </div>
                            <div class="inside">
                                <div class="submitbox" id="submitpost">
                                    <div id="minor-publishing">
                                        <div style="display:none;">
                                            <p class="submit">
                                                <input type="submit" name="save" id="save" class="button" value="Save">
                                            </p>
                                        </div>
                                        <div id="minor-publishing-actions">
                                            <div class="clear"></div>
                                        </div>
                                        <div class="misc-pub-section curtime misc-pub-curtime">
                                        <span id="timestamp" class="timestamp">
                                            Published on: <b>Nov 22, 2024 at 15:09</b>
                                        </span>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div id="major-publishing-actions">
                                    <div id="delete-action">
                                        <a class="submitdelete deletion" href="f">
                                            Move to Trash
                                        </a>
                                    </div>
                                    <div id="publishing-action">
                                        <span class="spinner"></span>
                                        <input type="submit" name="save" id="publish"
                                               class="button button-primary button-large" value="Update">
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="postbox">
                            <div class="postbox-header">
                                <h2 class="hndle ui-sortable-handle">
                                    Extra Informatie
                                </h2>
                            </div>
                            <div class="inside" style="padding-top: 10px">
                                Het bewerken van een nieuw toegevoegde les kan pas gedaan worden nadat het is opgeslagen
                            </div>
                            <div id="bottom"
                                 style="padding: 10px; clear: both; border-top: 1px solid #dcdcde;background: #f6f7f7;">
{#                                tead#}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="postbox-container-2" class="postbox-container">
                    <table class="wp-list-table widefat fixed striped table-view-list sections">
                        <thead>
                        <tr>
                            <th scope="col" class="manage-column column-section-name column-primary">Sectie</th>
                            <th scope="col" class="manage-column column-lessons">Les</th>
                        </tr>
                        </thead>
                        <tbody id="sortable-sections" data-wp-lists="list:section">
                        {% for section in course_structure %}
                            <tr class="sortable-section" data-section-id="{{ section.section_id }}">
                                <td class="column-section-name" data-colname="Section Name"
                                    style="padding-top: 16px; padding-bottom: 16px; padding-left: 24px;">
                                    <div style="display: flex; flex-direction: row; align-items: center; gap: 8px">
                                        <span class="dashicons dashicons-move"></span>
                                        <input type="hidden" name="section[{{ section.section_id }}][section_id]"
                                               value="{{ section.section_id }}">
                                        <input type="text" name="section[{{ section.section_id }}][section_name]"
                                               value="{{ section.section_name }}" placeholder="Enter section name">
                                    </div>

                                    <div style="height: 100%; display: flex; align-items: center;  position:relative;">
                                        <a href="javascript:void(0)" class="delete-section-button delete-button">
                                            Verwijder sectie
                                        </a>
                                    </div>
                                </td>
                                <td class="column-lessons" data-colname="Lessons">
                                    <ul class="lessons-list sortable-lessons"
                                        data-section-id="{{ section.section_id }}">
                                        {% for lesson in section.lessons %}
                                            <li class="sortable-lesson" data-lesson-id="{{ lesson.lesson_id }}">
                                                <span class="dashicons dashicons-move"></span>
                                                <input type="hidden"
                                                       name="section[{{ section.section_id }}][lessons][{{ loop.index0 }}][lesson_id]"
                                                       value="{{ lesson.lesson_id }}">
                                                <input type="text"
                                                       name="section[{{ section.section_id }}][lessons][{{ loop.index0 }}][lesson_name]"
                                                       value="{{ lesson.lesson_title }}"
                                                       placeholder="Les">
                                                       <a target="_blank" href={{ fn('get_edit_post_link', lesson.lesson_id) }} class="button button-secondary">
                                                {# <a target="_blank" href="{{ fn('esc_url', fn('admin_url', 'admin.php?page=course-manager-structure-lesson&lesson_id=' ~ lesson.lesson_id ~ ''), lesson.lesson_id) }}" class="button button-secondary"> #}
                                                    Bewerken
                                                </a>
                                                {% if lesson.lesson_status != "publish" %}
                                                    <span style="font-size: 10px">(verborgen)</span>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                        <li class="add-lesson">
                                            <a href="javascript:void(0)" style="margin-top: 16px"
                                               class="add-lesson-button" data-section-index="{{ section.section_id }}">
                                                + Voeg Les
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2" style="padding-top: 16px; padding-bottom: 16px; padding-left: 16px;">
                                <a href="javascript:void(0)" class="add-new-section-button">
                                    Voeg nieuwe sectie toe
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
