<style>
    .column-section-name {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4px;
    }

    .sortable-lesson {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .ui-sortable-handle {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="wrap">
    <div id="poststuff">
        <div id="post-body" class="metabox-holder columns-2">
            <div id="post-body-content">
                <div id="titlediv">
                    <div id="titlewrap">
                        <label class="screen-reader-text" id="title-prompt-text" for="title">
                            {{ course.post_title }}
                        </label>
                        <input type="text" name="post_title" size="30" value="{{ course.post_title }}" id="title"
                               readonly
                               spellcheck="true" autocomplete="off">
                    </div>
                </div>
                <div id="carbon_fields_after_title-sortables"
                     class="meta-box-sortables ui-sortable empty-container"></div>
            </div>
            <div id="postbox-container-1" class="postbox-container">
                <div id="side-sortables" class="meta-box-sortables ui-sortable">
                    <div class="postbox">
                        <div class="postbox-header">
                            <h2 class="hndle ui-sortable-handle">
                                Cursusinformatie
                            </h2>
                        </div>
                        <div class="inside" style="padding-top: 10px; display: flex; flex-direction: column; gap: 16px">
                            <div style="display: flex; flex-direction: column; gap: 4px">
                                <strong>Totale aanmeldingen</strong>
                                <span>{{ total_students_in_course.amount_of_users }}</span>
                            </div>
                            <div style="display: flex; flex-direction: column; gap: 4px">
                                <strong>Totaal die hebben afgemaakt</strong>
                                {% if total_students_finished_course == 0 %}
                                    0
                                {% else %}
                                    {% set percentage = total_students_finished_course / total_students_in_course.amount_of_users * 100 %}
                                    <span>{{ total_students_finished_course }} ({{ percentage|round(2) }}%)</span>
                                {% endif %}

                            </div>
                        </div>
                        <div id="bottom"
                             style="padding: 10px; clear: both; border-top: 1px solid #dcdcde;background: #f6f7f7;">
                        </div>
                    </div>
                </div>
            </div>
            <div id="postbox-container-2" class="postbox-container">
                <table class="wp-list-table widefat fixed striped table-view-list sections">
                    <thead>
                    <tr>
                        <th scope="col" class="manage-column column-section-name column-primary">Student</th>
                        <th scope="col" class="manage-column column-lessons">Voortgang</th>
                    </tr>
                    </thead>
                    <tbody id="sortable-sections" data-wp-lists="list:section">
                    {% for student in students %}
                        <tr class="sortable-section" data-section-id="{{ section.section_id }}">
                            <td class="column-section-name" data-colname="Section Name"
                                style="padding-top: 16px; padding-bottom: 16px; ">
                                <div style="display: flex; flex-direction: row; align-items: center; gap: 8px">
                                    {{ student.user_email }}
                                </div>
                            </td>
                            <td class="column-lessons"
                                style="padding-top: 16px; padding-bottom: 16px; {% if student.completed_steps == total_steps_in_course %} text-decoration: line-through {% endif %}">
                                {{ student.completed_steps }} / {{ total_steps_in_course }} stappen
                                {% if total_steps_in_course > 0 %}
                                    ({{ (student.completed_steps / total_steps_in_course * 100)|round(2) }}%)
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% set users_per_page = 10 %}
                    {% set total_users = total_students_in_course.amount_of_users %}

                    {% if total_users > 0 %}
                        {% set total_pages = (total_users // users_per_page) + (total_users % users_per_page > 0 ? 1 : 0) %}
                        <tr class="sortable-section">
                            <td class="column-section-name" data-colname="Section Name" colspan="2"
                                style="padding-left: 24px; padding-top: 16px; padding-bottom: 16px; display: flex; flex-direction: row; align-items: center">
                                <span>Pagina:</span>
                                <div style="display: flex; flex-direction: row; align-items: center; gap: 4px">
                                    {% for page in 1..total_pages %}
                                        <a href="{{ current_url }}&pagination={{ page }}"
                                           class="button {% if current_page == page %} button-primary {% else %} button-secondary {% endif %}button-small">{{ page }}</a>
                                    {% endfor %}
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
