<!DOCTYPE html>
<html {{ site.language_attributes }}>

{% include 'html-header.twig' %}

{{ fn('wp_enqueue_script', 'swiper') }}
{{ fn('wp_enqueue_style', 'learn-management-system') }}
{{ fn('wp_enqueue_script', 'learn-management-system-course') }}

{% block navigation %}
    {% include template('NWIRE_DEV_LEARN_MANAGEMENT_SYSTEM', 'course/partials/navigation.twig') %}
{% endblock %}

<body class="{{ body_class }}">
{% block main %}
    <main>
        {% block content %}
            <p>Sorry, no content</p>
        {% endblock %}
    </main>
{% endblock %}

{% block sidebar %}
    {% include template('NWIRE_DEV_LEARN_MANAGEMENT_SYSTEM', 'course/partials/sidebar.twig') %}
{% endblock %}
{% include 'html-footer.twig' %}
</body>
</html>
