{% extends "base.twig" %}
{# {% extends "course/partials/main.twig" %} #}

{# {% set show_steps = true %} #}

{% block sidebar %}
    {#    {% include 'course/partials/steps.twig' %} #}
{% endblock %}

{% block content %}
    {#    <style> #}
    {#        body { #}
    {#            grid-template-areas: #}
    {#                "navbar navbar" #}
    {#                "main main"; #}
    {#        } #}
    {#    </style> #}
    {% set teachers = fn('wp_get_object_terms', course.course.id, 'teacher') %}
    {% set categories = fn('wp_get_object_terms', course.course.id, 'category') %}

    {% include 'partials/components/page/breadcrumbs.twig' with {
        links : [
            { 'url': fn('get_site_url'), 'label': 'Home' },
            { 'url': {{ fn('get_site_url') ~ '/' ~ fn('apply_filters', 'nwire_dev_learn_management_system_route_courses', 'courses')}}, 'label': 'Cursus Overzicht' },
            { 'url': fn('get_permalink', course.ID), 'label': 'Cursus: ' ~ course.course.post_title },
        ]} %}

    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-5 col-12 px-5 px-lg-0">
                <h1>
                    {{ course.course.post_title }}
                </h1>
                <div>
                    {% if course.course.post_content == '' %}
                        Deze lessenreeks heeft (nog) geen beschrijving. Binnenkort in shaa Allaah!
                    {% else %}
                        {{ course.course.post_content|raw|wpautop }}
                    {% endif %}
                </div>
            </div>
            <div class="col-xxl-6 col-12 offset-xxl-1 mt-3 mt-xxl-0">
                <div class="py-4 px-3 py-xxl-5 px-xxl-5" style="background: #f2f2f2">
                    <table class="table table-borderless w-100">
                        <tbody>
                        <tr>
                            <td class="ps-0 pt-0" style=" background: #f2f2f2">
                                Docenten
                            </td>
                            <td class="ps-0 pt-0" style="background: #f2f2f2">
                                {% for teacher in teachers %}{{ teacher.name }} {% if loop.index < teachers|length %}& {% endif %}{% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="ps-0 pt-0" style=" background: #f2f2f2">
                                Categorieën
                            </td>
                            <td class="ps-0 pt-0" style="background: #f2f2f2">
                                {% for category in categories %}
                                    <a href="{{ fn('get_site_url') ~ '/' ~ fn('apply_filters', 'nwire_dev_learn_management_system_route_category', 'category') ~ '/' ~ category.slug }}">
                                        {{ category.name }}
                                    </a>
                                    {% if loop.index < categories|length %}, {% endif %}{% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="ps-0 pt-0" style=" background: #f2f2f2">
                                Aantal lessen:
                            </td>
                            <td class="ps-0 pt-0" style="background: #f2f2f2">
                                {{ course.course_steps.total }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="d-flex flex-row gap-3 gap-md-2 justify-content-start align-items-center">
                        {% if fn('is_user_logged_in') %}
                            <a class="text-decoration-none" href="{{ course.course.url }}?apply=true">
                                <button class="btn px-3 py-2"
                                        style="border-radius: 0;border: 1px solid black;">
                                    Aanmelden voor de cursus
                                </button>
                            </a>
                        {% else %}
                            <div class="d-flex flex-column gap-2">
                                <a class="text-decoration-none" href="javascript:void(0)">
                                    <button disabled class="btn px-3 py-2"
                                            style="border-radius: 0;border: 1px solid black;">
                                        Aanmelden voor de cursus
                                    </button>
                                </a>
                                <div class="d-flex flex-column">
                                    <span style="font-size: 14px">(je dient ingelogd te zijn om je aan te melden voor een cursus)</span>
                                    <div class="d-flex flex-row gap-2">
                                        <a style="font-size: 14px"
                                           href="{{ fn('site_url') ~ '/login?redirect_to=' ~ course.course.slug }}">Inloggen</a>
                                        <a style="font-size: 14px"
                                           href="{{ fn('site_url') ~ '/register?redirect_to=' ~ course.course.slug }}">Registeren</a>
                                    </div>
                                </div>
                            </div>

                        {% endif %}

                        <div class="px-5 py-4">
                            {#                    <a class="text-decoration-none" href="{{ fn("get_site_url") }}/courses"> #}
                            {#                        <button class="btn px-3 py-2 text-decoration-underline"> #}
                            {#                            Terug naar de overzicht #}
                            {#                        </button> #}
                            {#                    </a> #}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {#    <div class="container"> #}

    {#        <div class="d-flex flex-column gap-3"> #}
    {#            <h1 class="course--heading">{{ course.course.post_title }}</h1> #}
    {#            <h2>Over de cursus</h2> #}
    {#            <div class=""> #}
    {#                {{ course.course.post_content|raw|wpautop }} #}
    {#            </div> #}
    {#        <div class="row"> #}
    {#            <div class="col-12"> #}
    {#                <h2 class="h5 mb-2">Onderwerpen van de cursus</h2> #}
    {#                <hr> #}
    {#            </div> #}
    {#            <div class="col-md-7 col-12 px-4"> #}
    {#                <div class="row flex-column"> #}
    {#                    <div class="col-12"> #}
    {#                        <div class="d-flex align-items-start"> #}
    {#                            <div class="d-flex flex-column me-3 w-50 gap-1 border-end h-100" id="v-pills-tab" role="tablist" #}
    {#                                 aria-orientation="vertical"> #}
    {#                                {% for section in course.course_structure %} #}
    {#                                    {% set section_id = section.section_id %} #}
    {#                                    <button class="btn border-0 {% if loop.first %}active{% endif %} text-start" #}
    {#                                            id="course-sections-{{ section_id }}-tab" #}
    {#                                            data-bs-toggle="pill" #}
    {#                                            data-bs-target="#course-sections-{{ section_id }}" #}
    {#                                            type="button" #}
    {#                                            role="tab" #}
    {#                                            aria-controls="course-sections-{{ section_id }}" #}
    {#                                            aria-selected="{% if loop.first %}true{% else %}false{% endif %}"> #}
    {#                                        {{ section.section_name }} #}
    {#                                    </button> #}
    {#                                {% endfor %} #}
    {#                            </div> #}

    {#                            <div class="tab-content w-50 pt-1" id="v-pills-tabContent"> #}
    {#                                {% for section in course.course_structure %} #}
    {#                                    {% set section_id = section.section_id %} #}
    {#                                    <div class="tab-pane fade {% if loop.first %}show active{% endif %}" #}
    {#                                         id="course-sections-{{ section_id }}" #}
    {#                                         role="tabpanel" #}
    {#                                         aria-labelledby="course-sections-{{ section_id }}-tab"> #}
    {#                                        <ul class="list-group"> #}
    {#                                            {% for lesson in section.lessons %} #}
    {#                                                <li class="list-group-item">{{ lesson.lesson_title }}</li> #}
    {#                                            {% endfor %} #}
    {#                                        </ul> #}
    {#                                    </div> #}
    {#                                {% endfor %} #}
    {#                            </div> #}
    {#                        </div> #}
    {#                    </div> #}
    {#                </div> #}
    {#            </div> #}
    {#            <div class="col-12 offset-0 mt-4 mt-md-0"> #}


    {#            </div> #}
    {#        </div> #}
    {#    </div> #}


{% endblock %}






