<nav class="--nwire-dev--navigation" style="background: white;" id="--nwire-dev--main-navigation" >
    <div class="container-fluid border-bottom h-100 py-2">
        <div class="container h-100">
            <div class="row h-100 flex-column flex-xxl-row">
                <div class="first-column col-2 d-flex flex-column justify-content-center align-items-start py-4">
                    <a class="text-decoration-none" href="{{ fn('get_home_url') }}">
                        <h4 class="d-none d-xxl-block mb-0">
                            <a class="text-decoration-none" href="{{ fn("get_site_url") }}">
                                <h5 class="fw-bold h4 mb-0">
                                    {{ fn('get_bloginfo', 'name') }}
                                </h5>
                            </a>
                        </h4>
                    </a>
                    <div class="col d-block d-xxl-none">
                        <button class="btn nwire-dev-learn-management-system--sidebar-toggle" onclick="openNav()">
                            <img src="{{ theme.uri ~ '/assets/img/hamburger-icon.svg' }}" height="30" width="30">
                        </button>
                    </div>
                </div>
                <div class="col d-none d-xxl-flex ps-4 ps-xxl-5 pe-4 pe-xxl-5 flex-column justify-content-start justify-content-xxl-center"
                     id="--nwire-dev--navigation-submenu">
                    <div class="d-flex flex-column flex-xxl-row gap-1 gap-xxl-4 me-2 me-xxl-5 ps-1">
                        <a class="--nwire-dev--navigation-item py-2 text-decoration-none" style="border: 1px solid transparent"
                           href="{{ fn("get_site_url") }}">
                            Homepagina
                        </a>
                        <a class="--nwire-dev--navigation-item py-2 text-decoration-none" style="border: 1px solid transparent"
                           href="{{ fn('get_site_url') ~ '/' ~ fn('apply_filters', 'nwire_dev_learn_management_system_route_courses', 'courses')}}">
                            Cursussen
                        </a>
                        {% if fn('is_user_logged_in') == false %}
                            <a class="--nwire-dev--navigation-item py-2 text-decoration-none" style="border: 1px solid transparent"
                               href="{{ fn("get_site_url") }}/login">
                                Inloggen
                            </a>
                        {% endif %}
                        {% if fn('is_user_logged_in') == true %}
                            <div class="d-none d-xxl-flex justify-content-center py-2">
                                <a class="text-decoration-none dropdown-toggle" style="border: 1px solid transparent"
                                   href="javascript:void(0)" data-bs-toggle="dropdown">
                                    Profiel
                                </a>
                                <ul class="dropdown-menu">
                                    {% if fn('current_user_can', 'administrator') %}
                                        <li class="px-4 my-2">
                                            <a class="text-decoration-none" href="{{ fn("get_admin_url") }}">Admin</a>
                                        </li>
                                    {% endif %}
                                    <li class="px-4 my-2">
                                        <a class="text-decoration-none" href="{{ fn("get_site_url") }}/logout">Uitloggen</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="d-xxl-none py-2">
                                <a href="javascript:void(0)" class="--nwire-dev--navigation-item w-100 text-start text-decoration-none" data-bs-toggle="collapse" data-bs-target="#profileAccordion"
                                   aria-expanded="false" aria-controls="profileAccordion">
                                    Profiel
                                </a>
                                <div class="collapse mt-3" id="profileAccordion">
                                    <div class="card card-body">
                                        {% if fn('current_user_can', 'administrator') %}
                                            <a class="text-decoration-none d-block mb-2" href="{{ fn("get_admin_url") }}">Admin</a>
                                        {% endif %}
                                        <a class="text-decoration-none d-block" href="{{ fn("get_site_url") }}/logout">Uitloggen</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% block nav_extends %} {% endblock %}
            </div>
        </div>
    </div>
</nav>
<script>
    let nav = false;
    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
    function openNav() {

        if (!nav) {
            document.getElementById("--nwire-dev--main-navigation").style.height = "100vh";
            document.getElementById("--nwire-dev--main-navigation").style.maxHeight = "100vh";
            document.getElementById("--nwire-dev--navigation-submenu").classList.add('d-flex');
            document.getElementById("--nwire-dev--navigation-submenu").classList.remove('d-none');

            document.getElementById("--nwire-dev--main").style.display = "none";
            nav = true;

            return;
        }

        if (nav) {
            document.getElementById("--nwire-dev--main-navigation").style.height = "auto";
            document.getElementById("--nwire-dev--main-navigation").style.maxHeight = "";
            document.getElementById("--nwire-dev--navigation-submenu").classList.remove('d-flex');
            document.getElementById("--nwire-dev--navigation-submenu").classList.add('d-none');

            document.getElementById("--nwire-dev--main").style.display = "";
            document.body.style.backgroundColor = "white";
            nav = false;
        }


    }
</script>

